body{
    margin: 0;
    padding: auto;
    background: #E5E5E5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #E5E5E5;
  }
  .logo1{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
  }
  .logo img {
    width: 30px;
    margin-right: 10px;
  }
  .menu-item {
    display: inline-block;
padding-right:70px;
  }
  .menu-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right:58px;
  margin-left: 30px;
  color: #170C04;
  }
.Rectangle{
    position: absolute;
    width: 514px;
    height: 733px;
    left: 1005px;
    top: 0px;
}
.text1{
    position: absolute;
width: 613px;
height: 171px;
left: 150px;
top:148px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 100px;
color: #170C04;
}
.dog{
    position: absolute;
width: 916px;
height: 611px;
left: 550px;
top: 82px;
mix-blend-mode: darken;
}
.btn1{
    border: none;
    position: absolute;
    width: 123px;
    height: 48px;
    left: 150px;
    top: 508px;
    background: #E27B3A;
    border-radius: 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.btn1:hover{
    background-color: rgb(245, 186, 110);
    color: #ffffff;
}
.btn2{
    box-sizing: border-box;
position: absolute;
width: 139px;
height: 48px;
left:310px;
top: 508px;
opacity: 0.15;
border: 1px solid #f16812;
border-radius: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #e96310;
}