body{
    margin: 0;
    padding: auto;
    background: #E5E5E5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #E5E5E5;
  }
  .logo1{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
  }
  .logo img {
    width: 30px;
    margin-right: 10px;
  }
  .menu-item {
    display: inline-block;
padding-right:70px;
  }
  .menu-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right:58px;
  margin-left: 30px;
  color: #170C04;
  }
.Rectangle{
    position: absolute;
    width: 514px;
    height: 713px;
    left: 1018px;
    top: 0px;

}