body{
    margin: 0;
    padding: auto;
    background: #E5E5E5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #E5E5E5;
  }
  .logo1{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
  }
  .logo img {
    width: 30px;
    margin-right: 10px;
  }
  .menu-item {
    display: inline-block;
padding-right:70px;
  }
  .menu-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right:58px;
  margin-left: 30px;
  color: #170C04;
  }
.Rectangle{
    position: absolute;
    width: 514px;
    height: 733px;
    left: 1005px;
    top: 0px;
}
.text1{
    position: absolute;
width: 613px;
height: 171px;
left: 150px;
top:148px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 100px;
color: #170C04;
}
.dog{
    position: absolute;
width: 916px;
height: 611px;
left: 550px;
top: 82px;
mix-blend-mode: darken;
}
.btn1{
    border: none;
    position: absolute;
    width: 123px;
    height: 48px;
    left: 150px;
    top: 508px;
    background: #E27B3A;
    border-radius: 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.btn1:hover{
    background-color: rgb(245, 186, 110);
    color: #ffffff;
}
.btn2{
    box-sizing: border-box;
position: absolute;
width: 139px;
height: 48px;
left:310px;
top: 508px;
opacity: 0.5;
border: 1px solid #f16812;
border-radius: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #e96310;
}
.btn2:hover{
    background: #E27B3A;
    color: white;
}

/* 1 */
.card1 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left: 150px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.corm{
    position: absolute;
width: 37px;
height: 37px;
left:158px;
top:9px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text2{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text3{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text4{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
/* 2 */
.card2 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left:590px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.corm2{
    position: absolute;
width: 57px;
height: 57px;
left:150px;
top:0px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector2{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text5{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text6{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text7{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
/* 3 */
.card3 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left:1030px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}
.corm3{
    position: absolute;
width: 57px;
height: 57px;
left:150px;
top:0px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector3{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text8{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text9{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text10{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
.text11{
    position: absolute;
width: 505px;
height: 42px;
left: 499px;
top: 1211px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 47px;
line-height: 48px;
text-align: center;
color: #170C04;
}
.text12{
    position: absolute;
width: 575px;
height: 65px;
left: 469px;
top: 1291px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}